.formulario__mobile {
    background: #eeeeee ;
    width: 80vw;
    z-index: 100;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}

.formulario__mobile .titulo {
    align-items: center;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.formulario__mobile .titulo img {
    margin-right: .7rem;
}

.titulo__texto h3 {
    color: #727B7A;
    font-size: 1rem;
}
    
.titulo__texto h4 {
    color: #DF0209;
    font-size: 1.8rem;
}

.formulario__mobile label {
    font-size: 0.0001px;
}

.formulario__mobile .inputs {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.botao input{
    width: auto;

    background-color: #1CB72A;
    border-style: none;
}

.formulario__mobile .inputs .type__input {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario__mobile .inputs .type__input input{
    background-color: #eeeeee;
    background-size: 1.2rem;
    background-position: .5rem;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: .3rem;
    border-color: #d5d5d5;
    height: 32px;
    width: 15rem;
    text-indent: 30px;
}

.formulario__mobile .inputs .type__input #nome {
    background-image: url("../../img/Grupo\ 32.png");
}

.formulario__mobile .inputs .type__input #e-mail{
    background-image: url("../../img/black-envelope.png");
}

.formulario__mobile .inputs .type__input #telefone {
    background-image: url("../../img/call-answer.png");
}

.formulario__mobile .inputs .type__input #escolha-o-horario {
    background-image: url("../../img/clock-circular-outline.png");
}

.formulario__mobile .inputs .type__input #escolha-a-unidade {
    background-image: url("../../img/maps.png");
}

.formulario__mobile .inputs input + label, 
.formulario__mobile .inputs input + input
{
    margin-top: .3rem;
}

.botao{
    background-color: #1CB72A;
    border-style: none;
    border-radius: .3rem;
    color: #fff;
    margin-top: .5rem;
    padding: 1rem 3rem;
}